
  <center>
  <div class="edit-container">
    <header>User Details</header>
    <!-- IMPORTANT: method="POST" so Flask receives form data -->
    <form method="POST" action="{{ url_for('hr_admin.edit_user', user_id=user.id) }}">
      <div class="form first">
        <div class="details personal">
          <div class="fields">

            <div class="input-field">
              <label>Email</label>
              <input type="email" name="email" value="{{user.email}}" required />
            </div>

            <div class="input-field">
              <label>First Name</label>
              <input type="text" name="first_name" value="{{user.first_name}}" required/>
            </div>

            <div class="input-field">
              <label>Last Name</label>
              <input type="text" name="last_name" value="{{user.last_name}}" required />
            </div>

           <div class="input-field">
              <label>Role</label>
              <select name="role" required>
                <option disabled selected>Select Role</option>
                <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                <option value="officer" {% if user.role == 'officer' %}selected{% endif %}>Officer</option>
                <option value="dept_head" {% if user.role == 'dept_head' %}selected{% endif %}>Department Head</option>
                <option value="employee" {% if user.role == 'employee' %}selected{% endif %}>Employee</option>
                
              </select>
            </div>


            <div class="input-field">
              <label>Status</label>
              <select name="status" required>
                <option disabled selected>Select Status</option>
                <option value = 1 {% if user.active == True %}selected{% endif %}>Active</option>
                <option value = 0 {% if user.active == False %}selected{% endif %}>Inactive</option>
              </select>
          </div>
          </div>
        </div>

        <button type="submit" class="submit">
          <span class="btnText">Submit</span>
          <i class="uil uil-navigator"></i>
        </button>
      </div>
    </form>
  </div>

</center>