
  <center>
  <div class="edit-container">
    <header>Department Details</header>
    <!-- IMPORTANT: method="POST" so Flask receives form data -->
    <form method="POST" action="{{ url_for('hr_admin.edit_department', department_id=department.id) }}">
      <div class="form first">
        <div class="details personal">
          <div class="fields">

            <div class="input-field" style=" width: calc(100% / 1 - 15px);">
              <label>Name</label>
             <input type="text" name="name" value="{{ department.name }}" required />
            </div>

            <div class="input-field" style=" width: calc(100% / 1 - 15px);">
              <label>Description</label>
              <textarea id="description" name="description">{{ department.description }}</textarea>
            </div>
            
           <div class="input-field" style="width: calc(100% /1 - 15px);">
                <label for="head_id">Department Head</label>
                <select name="dept_head" id="head_id" class="form-control">
                    <option value="">Select Department Head</option>
                        {% for emp in department.employees %}
                            {% if emp.user %}
                                <option value="{{ emp.user.id }}" {% if department.head_id == emp.user.id %}selected{% endif %}>
                                    {{ emp.user.get_full_name() }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
            </div>

            </div>
        </div>

        <button type="submit" class="submit">
          <span class="btnText">Submit</span>
          <i class="uil uil-navigator"></i>
        </button>
      </div>
    </form>
  </div>

</center>