<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GovHRPay{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('hr_auth.static', filename='img/favicon.avif') }}">   
    <link rel="stylesheet" href="{{ url_for('hr_auth.static', filename='css/style.css') }}">
</head>
<body>
     <header class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('index') }}" class="brand">
                <img src="{{ url_for('hr_auth.static', filename='img/logo2.avif') }}" alt="Logo" class="nav-logo">
                HR System
            </a>
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>

    
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}
    

    <script src="{{ url_for('hr_auth.static', filename='js/form-utils.js') }}"></script>
    <script src="{{ url_for('hr_auth.static', filename='js/script.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
